main {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(3, 2fr);
}

.preview {
    grid-column: 1/3;
    grid-row: 1/4;
    background: orange;
}

.selection {
    grid-column: 3/4;
    grid-row: 1/5;
    background: lightcyan;
}

.output {
    grid-column: 1/3;
    grid-row: 4/5;
    background: darkmagenta;
}