// file: _base.scss

// this file includes all resets, variables, mixins, and any utility classes

/* VARIABLES */
$text-font-default: 'Barlow Semi Condensed', Arial, sans-serif;
$text-size-default: 16px;
$text-size-btn: 1.2rem;

// $color-ultradarkgrey: #1d1f21;
$color-ultradarkgrey: #313335;
$color-darkgrey: #d3d0c9;
$color-lightgrey: #f1f1eb;
$color-ultralightgrey: #fbfcf7;
$color-hover:#C7E0E8;
$color-darkbluegrey:#7f8f94;
$color-white: #fff;

$enle: hsla(36%, 100%, 67%, 1);
$frepi: #cad170;
$ensi: hsla(196%, 69%, 78%, 1);
$rusa: hsla(284%, 100%, 94%, 1);
$grey: hsla(0%, 0%, 57%, 1);

/* RGB */
$enleR: rgba(255, 187, 86, 1);
$frepiR: rgba(237, 245, 164, 1);
$ensiR: rgba(161, 218, 238, 1);
$rusaR: rgba(247, 225, 255, 1);
$greyR: rgba(146, 146, 146, 1);

/* Buttonani colors */
$color-btn-bg: #E7C3FC;
$color-btn-bg-orange: #EF6A0F;

$width-height-default: 100%;
$padding: 1vw;
$margin: 1vw;
$center: 0 auto;
$border-radius: 5px;
$border-radius-top: 5px 5px 0 0;
$border-radius-bottom: 0 0 5px 5px;
$border-radius-round: 50%;

$opacity: 1;

/* EXTEND */
%button {
    width: 120px;
    height: 50px;
    margin: $margin;
    padding: $padding;
    font-size: $text-size-btn;
    text-align: center;
    color: #313335;
    background: #fff;
    border-radius: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    outline:0;
    opacity: $opacity;
    transition: all 0.5s ease-in-out;
}
  

/* MIXINS */
@mixin reset {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin mastergrid {
    display: grid;
    grid-template-columns: 0.4fr repeat(4, 1fr);
    grid-template-rows: 1fr repeat(3, 0.7fr) repeat(4, 1fr);
}

@mixin grid($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}
@mixin buttons-rounded () {
    width: 90%;
    height: 30px;
    margin: 1vw;
    font-size: 0.8rem;
    border-radius: 20px;
    border: 1.5px solid $color-darkgrey;
    box-shadow: none;
    background:$color-white;
}
@mixin button-hover () {
    background-color: $color-hover;
}
@mixin btn-style($width, $height, $margin, $padding, $radius) {
    width: $width;
    height: $height;
    margin: $margin auto;
    padding: $padding;
    opacity: $opacity;
    font-size: $text-size-btn;
    border-radius: $radius;
    border: none;
    box-shadow: none;
    transform-origin: 50% 50%;
    transition: all 0.5s ease-in-out;
}
@mixin flex ($justify, $align:stretch) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin absoluteCenter {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
/* GENERAL */
* {
    @include reset;
}
html, body {
    width: $width-height-default;
    max-height: 500px;
}
body {
    font-size: $text-size-default;
    font-family: $text-font-default; 
    background:rgba(146, 146, 146, 0.1);
}
h2 {
    margin-bottom: $margin;
    font-size: 1.2rem;
    color: $color-ultradarkgrey;
}
h3 {
    font-size: 1rem;
}
p {
    font-size: 0.9rem;
}