// file: _components.scss

// this file includes all styles for the animated Microinteractions

/* BUTTONS */
/* BTN ENLE*/
#enleBtn {
    // @include btn-style(120px, 50px, 3vw, 10px, 0);
    @extend %button;
    color: $color-white;
    background: #000;
    overflow:hidden;
    position: relative;
}
.animate-enle-btn-bg {
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background:$color-btn-bg-orange;
    position: absolute;    
    // transform: translate(240%, 200%);
    mix-blend-mode:screen;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
.bounce {
    animation: bounce 0.5s forwards; 
}
.enle-btn-grow {
    animation: enleBtnGrow 1s forwards;
}
/* BTN ENLE ANIMATIONS */
@keyframes enleBtnGrow {
    0% { transform: scale(0); }
	80%  { transform: scale(300); }
	100% { transform: scale(300); opacity: 0; }
}
@keyframes bounce {
    0% { transform: scale(1); }
    35% { transform: scale(0.98); }
    50% { transform: scale(1.02); }
    75% { transform: scale(0.99); }
    90% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

/* BTN FREPI*/
#frepiBtn {
  @extend %button; 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: $greyR;
  background:rgba(254, 198, 78, 0.6);
  position: relative;
} 

.frepi-btn-svg {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 0;
}

.circle-lines {
  fill: none;
  stroke: #929292;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
.breath {
  animation: breath 4s infinite alternate linear;
}

.animate-frepi-btn {
  animation: scaleElastic 0.7s ease;
}
.animate-lines {
  animation: lines 0.5s 0.5s ease-out;
}
@keyframes breath {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}
@keyframes scaleElastic {
	0% { transform: scale(0.85); }
	16% { transform: scale(1.4); }
	28% { transform: scale(0.8); }
	44% { transform: scale(1.15); }
	59% { transform: scale(0.9); }
	73% { transform: scale(1.1); }
	88% { transform: scale(0.97); }
	100% { transform: scale(1); }
}

@keyframes lines {
  0% { transform: scale(0.85); opacity: 0; }
  33% { transform: scale(1.2); opacity: 1; }
  66% { opacity: 0.4; }
	100% { transform: scale(1.6); opacity: 0; }
}
/* BTN ENSI */
#ensiBtn {
    @extend %button;
    margin: 0 0 0 3vw;
    padding: 0;
    border: 1px solid #3f3f3f;
    display: flex;
    justify-content: flex-start;
}
#ensiBtn-text, #ensiBtn-ani {
  background: $color-white;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  outline: 0 !important;
}
#ensiBtn-text {
    @extend %button;
    width:70%;
    height: 100%;
    margin: 0;
    padding: 10px;
}
#ensiBtn-ani {
    @extend %button;
    width: 30%;
    height: 100%; 
    margin: 0;
    padding: 10px;
    position: relative;
}
.animate-ensi-btn {
  color: transparent !important;
  :after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #fefefe;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: rotate-circle ease-in-out 1s forwards;
    -webkit-animation: rotate-circle ease-in-out 1s forwards;
  }
}
.animate-ensi-btn.success:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 8px;
  border: 2px solid #fefefe;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  transform: translate(-50%, -50%) rotate(0) scale(0);
  -webkit-animation: success ease-in 0.2s forwards;
  animation: success ease-in 0.2s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* BTN ENSI ANIMATIONS */
@keyframes rotate-circle {
  0% { transform: translate(-50%, -50%) rotate(0deg) scale(1); }
  90% { transform: translate(-50%, -50%) rotate(720deg) scale(1); }
  100% { transform: scale(0); }
}
@-webkit-keyframes rotate-circle {
  0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1); }
  98% { -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(1); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(0); }
}
@keyframes success {
  from { transform: translate(-50%, -50%) rotate(-135deg) scale(0); }
  to { transform: translate(-50%, -50%) rotate(-45deg) scale(1); background-color: #cad170; }
}
@-webkit-keyframes success {
  from { -webkit-transform: translate(-50%, -50%) rotate(-135deg) scale(0); }
  to { -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1); background-color: #cad170; }
}


/* BTN RUSA */
#rusaBtn {
  @extend %button;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: $color-white;
  background:$color-btn-bg;
  position: relative;
  transition: all 0.7s ease-in;
}
#rusaBtn:before, #rusaBtn:after {
  transition: all 0.7s ease-in-out;
}
.animate-rusa-btn-main {
  animation: natural-border 4s ease-in-out alternate;
}
.animate-rusa-btn-layer:before, .animate-rusa-btn-layer:after {
  width: 110%;
  height: 110%;
  content:'';
  position: absolute;
  top:-5%;
  left:-5%;
  z-index: -1;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
.animate-rusa-btn-layer:before {
  background: rgba(darken($color-btn-bg, 10%), 0.3);
  animation: natural-border 4s ease-in-out alternate-reverse;
}
.animate-rusa-btn-layer:after {
  background: rgba($color-btn-bg,0.3);
  animation: natural-border-after 4s ease-in-out alternate-reverse;
}

/* BTN RUSA ANIMATIONS */
@keyframes natural-border {
  0% { transform: scale(1); border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; }
  34% { transform: scale(1.02); border-radius: 62% 38% 50% 50% / 50% 50% 50% 50%  ; }
  67% { transform: scale(1.02); border-radius: 62% 38% 63% 37% / 50% 65% 35% 50%  ; }
  100% { transform: scale(1); border-radius: 62% 38% 63% 37% / 39% 65% 35% 61%  ; }
}
@keyframes natural-border-after {
  0% { transform: scale(1); border-radius: 35% 65% 50% 50% / 50% 50% 50% 50% ; } 
  34% { transform: scale(1.02); border-radius: 35% 65% 45% 55% / 69% 50% 50% 31%; } 
  67% { transform: scale(1.02); border-radius: 35% 65% 45% 55% / 69% 33% 67% 31%; } 
  100% { transform: scale(1); border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; } 
}

/* CHECKBOX / RADIO */
.animate-frepi input, .animate-ensi input {
  display: none;
}
.animate-frepi div, .animate-ensi div {
  display: flex;
  align-items: center;
}
.enleC label, .frepiC label, .ensiC label {
  font-size: $text-size-btn;
}

/* CHECK ENLE */
.animate-enle-check {
  display: block;
  width: 200px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.animate-enle-check div {
  display: flex;
  align-items: center;
}
.animate-enle-check input {
  display: none;
}
.animate-enle-check span {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  background-color: white;
  border: 1.5px solid darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.animate-enle-check span::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.animate-enle-check span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; 
  border: 1px solid darkgrey; 
  /* box-shadow: 0 0 0 1px #fff;*/
  border-radius: 100%;
  opacity: 0;
  
}
.animate-enle-check svg {
  position: absolute;
  left: -50px;
  top: -50px;
  opacity: 1;
  visibility: visible;
}
.animate-enle-check div::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
}
.animate-enle-check:hover div span::before {
  background-color: #373d4c;
}
.animate-enle-check:hover div::before {
  border: 1px solid lightgrey;
}
.animate-enle-check input:checked + div{
  color: #000;
}
.animate-enle-check input:checked + div::before {
  animation: bounce 0.3s 0.4s cubic-bezier(0.2,0.37,0.72,1.38);
  background-color:white;
  border: 1px solid darkgrey;
}
.animate-enle-check input:checked + div span {
  background-color:#fff;
  animation: rotateCheck 0.4s ease-in-out;
}
.animate-enle-check input:checked + div span::before {
  background-color:rgba(0,0,0,0.7);
  transform: scale(1.5);
  animation: grow 0.3s ease;
} 
/* ANIMATION */
@keyframes rotateCheck {
  0% { transform: rotate(0deg) scale(1); }
  70% { transform: rotate(360deg) scale(1.1);  border-radius: 50%; }
  85% { transform: rotate(880deg) scale(1.3); border-radius: 50%; background-color: darkgrey}
  95% { transform: rotate(1080deg) scale(1.3); border-radius: 5%; background-color:white; }
  100% { transform: rotate(0deg) scale(1); background-color:white; }
}
@keyframes bounce {
  0% { transform: scale(1); }
  35% { transform: scale(0.98); }
  50% { transform: scale(1.02); }
  75% { transform: scale(0.99); }
  90% { transform: scale(1.01); }
  100% { transform: scale(1); }
}
@keyframes grow {
  0% { transform: scale(1); background: #373d4c; }
  35% { transform: scale(3); background-color: white;}
  100% { transform: scale(1.5); background:white; }
}


/* CHECK FREPI */
.animate-frepi {
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.animate-frepi span {
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 13px;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animate-frepi span::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.animate-frepi span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 100%;
  opacity: 0;
}
.animate-frepi svg {
  position: absolute;
  left: -50px;
  top: -50px;
  opacity: 0;
  visibility: hidden;
}
.animate-frepi div::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 6px;
}
.animate-frepi:hover div span::before {
  animation: wobble 0.3s ease;
  background-color: $color-darkgrey;

}
.animate-frepi:hover div::before {
  background-color:$color-lightgrey;
  border: 1px solid $color-darkgrey;
}
.animate-frepi input:checked + div{
  color:$color-ultradarkgrey;
}
.animate-frepi input:checked + div::before {
  animation: wobble 0.3s ease;
  /* background-color: #37425f; */
  color: $color-darkgrey;
  border: 1px solid #a6ac5c;
}
.animate-frepi input:checked + div span {
  background-color: $color-white;
  // background-color: #a6ac5c;
  animation: littleBounce 0.3s ease, wobble 0.3s ease;
}
.animate-frepi input:checked + div span::before {
  background-color:$color-ultradarkgrey;
}
.animate-frepi input:checked + div svg,
.animate-frepi.submit svg {
  animation: showParticles 0.4s ease;
}
.animate-frepi input:checked + div svg:last-child,
.animate-frepi.submit svg:last-child {
  animation: showParticlesRotateChange 0.3s ease;
}
/* ANIMATIONS */
@keyframes wobble {
  0% { ransform: scale(1) rotate(0deg) }
  40% { transform: scale(1.1, .9) rotate(5deg) }
  70% { transform: scale(.9, 1.1) rotate(-3deg) }
  80% { transform: scale(1.05, .95) rotate(1deg) }
  100% { transform: scale(1) rotate(0deg) }
}
@-webkit-keyframes wobble {
  0% { -webkit-transform: scale(1) rotate(0deg); }
  40% { -webkit-transform: scale(1.1, .9) rotate(5deg); }
  70% { -webkit-transform: scale(.9, 1.1) rotate(-3deg); }
  80% { -webkit-transform: scale(1.05, .95) rotate(1deg); }
  100% { -webkit-transform: scale(1) rotate(0deg) }
}
@keyframes showParticles {
  0% { opacity: 0; visibility: visible; transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; transform: scale(0.5) rotate(20deg); }
}
@-webkit-keyframes showParticles {
  0% { opacity: 0; visibility: visible; -webkit-transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; -webkit-transform: scale(0.5) rotate(20deg); }
}
@keyframes showParticlesRotateChange {
  0% { opacity: 0; visibility: visible; transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; transform: scale(0.5) rotate(-20deg); }
}
@-webkit-keyframes showParticlesRotateChange {
  0% { opacity: 0; visibility: visible; -webkit-transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; -webkit-transform: scale(0.5) rotate(-20deg); }
}

/* CHECK ENSI */
.animate-ensi {
  display: block;
  width: 90%;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.animate-ensi div:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
}
.animate-ensi span {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  background-color: #fff;
  border: 1px solid rgba(146, 146, 146, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.animate-ensi span:before {
  content: "";
  width:8px;
  height:8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.animate-ensi span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px lightgrey;
  border-radius: 100%;
  opacity: 0;
}
.animate-ensi:hover div span:before {
    background: lightgrey;
}
.animate-ensi:hover div:before {
  border: 1px solid lightgrey;
}
.animate-ensi input:checked + div{
  color: #000;
}
.animate-ensi input:checked + div:before {
  // animation: checkboxSelected 0.3s ease;
  box-shadow: 0 0 5px lightgrey;
  background-color: #fff;
  border: 1px solid lightgrey;
}
.animate-ensi input:checked + div span {
  background-color: rgba(0,0,0,0.6);
  animation: littleBounce 0.3s ease;
}
.animate-ensi input:checked + div span:before {
  background-color: #fff;
}
.animate-ensi input:checked + div span:after {
  animation: scale 0.25s ease;
}
/* ANIMATIONS */
@keyframes littleBounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@-webkit-keyframes littleBounce {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); }
}
@keyframes checkboxSelected {
  0% { transform: scale(1)}
  70% { transform: scaleY(1.1); }
  100% { transform: scale(1);}
} 
@-webkit-keyframes checkboxSelected {
  0% { -webkit-transform: scale(1)}
  70% { -webkit-transform: scaleY(1.1); }
  100% { -webkit-transform: scale(1);}
}

/* CHECK RUSA */


/* HAMBURGER */
/* HAMBURGER ENLE */
.enle-hamburger {
  margin-left: 10%;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.enle-hamburger-icon {
  width: 46px;
  height: 38px;
  padding: 0 2px 0 4px;
  // border: 2px solid;
  // border-color: $color-darkgrey;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.enletopline, .enlemidline, .enlebotline {
  // transform-origin: 50% 50%;
}
.enle-hamburger:hover .enletopline {
  transform: translateY(-5px);
  opacity: 1;
}
.enle-hamburger:hover .enlemidline {
  transform: translateY(0);
  opacity: 1;
}
.enle-hamburger:hover .enlebotline {
  transform: translateY(5px);
  opacity: 1;
}
.enle-hamburger-line {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: $color-ultradarkgrey;
  opacity: 0.3;
  border-radius: 2px;
  overflow: hidden; 
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.enle-hamburger-line:nth-child(1) {
  top: 6px;
}
.enle-hamburger-line:nth-child(2) {
  top: 15px;
}
.enle-hamburger-line:nth-child(3) {
  top: 24px;
}
.animate-line1 {
  animation: enleline1 1s ease-in forwards;
}
.animate-line2 {
  animation: enleline2 1s ease-in forwards;
}
.animate-line3 {
  animation: enleline3 1s ease-in forwards;
}
.enle-hamburger-text {
  font-size: 1.5rem;
  color: $color-darkgrey;
  margin-left: 10%;
  transition: color 0.5s ease-in-out;
}
.animate-text {
  color: $color-ultradarkgrey;
}
.animate-box {
  border-color: $color-ultradarkgrey;
}

/* Animations */
@keyframes enleline1 {
  0% { transform: translasteY(0);}
  10% { transform: translateY(9px);}
  20% { transform: translateY(-20px); }
  30% { opacity: 0;}
  40% { opacity: 1; transform:translateY(13px) rotate(45deg) scaleX(0.65);}
  50% { opacity:1; transform:translateY(9px) rotate(45deg) scaleX(0.65)}
  52% { transform:translateY(9px) rotate(32deg) scaleX(0.65); }
  56% { transform:translateY(9px) rotate(52deg) scaleX(0.65); }
  60% { transform:translateY(9px) rotate(43deg) scaleX(0.65); }
  100% { opacity:1; transform:translateY(9px) rotate(45deg) scaleX(0.65)}
}
@keyframes enleline2 {
  0% { transform: translasteY(0)}
  10% { transform:scaleX(1.2); height:3px; }
  20% { transform:rotate(5deg); }
  24% { transform:rotate(-5deg); }
  28% { transform:rotate(3deg); }
  40% { opacity:0;}
  60% { opacity:0;}
  100% { opacity: 0;}
}
@keyframes enleline3 {
  0% { transform: translasteY(0)}
  10% { transform: translateY(-9px);}
  20% { transform: translateY(19px) }
  30% { opacity: 0;}
  40% { opacity:1; transform:translateY(-13px) rotate(-45deg) scaleX(0.65)}
  50% { opacity:1; transform:translateY(-9px) rotate(-45deg) scaleX(0.65)}
  52% { transform:translateY(-9px) rotate(-32deg) scaleX(0.65); }
  56% { transform:translateY(-9px) rotate(-52deg) scaleX(0.65); }
  60% { transform:translateY(-9px) rotate(-43deg) scaleX(0.65); }
  100% { opacity:1; transform:translateY(-9px) rotate(-45deg) scaleX(0.65)}
}


/* HAMBURGER FREPI */
.frepi-hamburger {
  margin-left: 10%;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.frepi-hamburger-icon {
  width: 46px;
  height: 38px;
  padding: 0 2px 0 4px;
  // border: 2px solid;
  // border-color: $color-darkgrey;
  // border-radius: 8px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.frepi-hamburger:hover .frepi-hamburger-line {
    opacity: 1;
    animation: wobble 0.5s ease-in, scaleElastic 0.5s ease-in;
}
.frepi-hamburger:hover .frepi-hamburger-text {
  color: $color-ultradarkgrey;
}
.frepi-hamburger-line {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: $color-ultradarkgrey;
  border-radius: 2px;
  opacity: 0.3;
  overflow: hidden; 
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.frepi-hamburger-line:nth-child(1) {
  top: 6px;
}
.frepi-hamburger-line:nth-child(2) {
  top: 15px;
}
.frepi-hamburger-line:nth-child(3) {
  top: 24px;
}
.frepi-hamburger-line:nth-child(1).animate-frepi-line1 {
  top: 16px;
  transform: scale(0.75) rotate(405deg);
  opacity: 1;
}
.frepi-hamburger-line:nth-child(2).animate-frepi-line2 {
  top: 16px;
  transform: scale(0.85) rotate(270deg);
  opacity: 0;
}
.frepi-hamburger-line:nth-child(3).animate-frepi-line3 {
  top: 16px;
  transform: scale(0.75) rotate(-45deg);
  opacity: 1;
}
.frepi-hamburger-text {
  font-size: 1.5rem;
  color: $color-darkgrey;
  margin-left: 10%;
  transition: color 0.5s ease-in-out;
}
.animate-text {
  color: $color-ultradarkgrey;
}
.animate-box {
  opacity: 1;
}


/* HAMBURGER ENSI */
.ensi-hamburger {
  margin-left: 10%;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.ensi-hamburger-icon {
  width: 46px;
  height: 38px;
  padding: 0 2px 0 4px;
  border: 2px solid;
  border-color: $color-ultradarkgrey;
  opacity: 0.3;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.ensi-hamburger:hover .ensi-hamburger-line,
.ensi-hamburger:hover .ensi-hamburger-icon {
  opacity: 1;
}
.ensi-hamburger:hover .ensi-hamburger-text {
  color: $color-ultradarkgrey;
}
.ensi-hamburger-line {
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: $color-ultradarkgrey;
  opacity: 0.3;
  border-radius: 2px;
  overflow: hidden; 
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.ensi-hamburger-line:nth-child(1) {
  top: 6px;
}
.ensi-hamburger-line:nth-child(2) {
  top: 15px;
}
.ensi-hamburger-line:nth-child(3) {
  top: 24px;
}
.ensi-hamburger-line:nth-child(1).animate-ensi-line1 {
  top: 16px;
  transform: rotate(45deg);
  opacity: 1;
}
.ensi-hamburger-line:nth-child(2).animate-ensi-line2 {
  top: 16px;
  transform: scale(0);
  opacity: 0;
}
.ensi-hamburger-line:nth-child(3).animate-ensi-line3 {
  top: 16px;
  transform: rotate(-45deg);
  opacity: 1;
}
.ensi-hamburger-text {
  font-size: 1.5rem;
  color: $color-darkgrey;
  margin-left: 10%;
  transition: color 0.5s ease-in-out;
}
.animate-text {
  color: $color-ultradarkgrey;
}
.animate-box {
  opacity: 1;
}


/* HAMBURGER RUSA */
.rusa-hamburger {
  width: 120px;
  height: 30px;
  margin-left:20%;
  position: relative;
  top:-1px;
  cursor: pointer;
}
.rusa-hamburger:hover {
  color:#64686A;
}
.rusa-hamburger-text {
  margin-left: 150%;
  font-size: 1.5rem;
  transition:all 0.3s ease-in-out;
}
.rusa-hamburger-icon {
  width: 40px;
  height: 30px;
}
.rusa-hamburger-icon .rusa-hamburger-line {
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: $color-ultradarkgrey;
  border-radius: 2px;
  overflow: hidden; 
}
.rusa-hamburger-icon .rusa-hamburger-line:nth-child(1) {
    // top: 0;
    transform: translateY(0);
}
.rusa-hamburger-icon .rusa-hamburger-line:nth-child(2) {
    // top: 10px;
    transform: translateY(10px);
}
.rusa-hamburger-icon .rusa-hamburger-line:nth-child(3) {
    // top: 20px;
    transform: translateY(20px);
}
.rusa-hamburger:hover .rusa-hamburger-line::after{
  //left:0;
  transform: translateX(0);
}
.rusa-hamburger-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #A6ABAB;
  position: absolute;
  // top: 0;
  transform: translateY(0);
  //left: 100%;
  transform: translateX(100%);
  z-index: 1;
  transition: 1s;
}
.rusa-hamburger-icon .rusa-hamburger-line:nth-child(1)::after {
    transition-delay: 0.1s;	}
.rusa-hamburger-icon .rusa-hamburger-line:nth-child(2)::after {
    transition-delay: 0.2s;	}
.rusa-hamburger-icon .rusa-hamburger-line:nth-child(3)::after {
    transition-delay: 0.3s;	}

.animate-rusa-lines::after{
  background: $color-btn-bg;
}
.animate-rusa-text {
  color: #d492fa;
}


/* MODAL */
/* MODAL ENLE */
/* MODAL FREPI */
/* MODAL ENSI */
/* MODAL RUSA */