// file: _components.scss

// this file includes all styles for the animated Microinteractions

/* BUTTONS */
/* BTN ENLE*/
#enleBtn {
    // @include btn-style(120px, 50px, 3vw, 10px, 0);
    @extend %button;
    color: $color-white;
    background: #000;
    overflow:hidden;
    position: relative;
}
.animateBg {
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background:$color-btn-bg-orange;
    position: absolute;    
    // transform: translate(240%, 200%);
    mix-blend-mode:screen;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
.bounce {
    animation: bounce 0.5s forwards; 
}
.grow {
    animation: grow 1s forwards;
}
/* BTN ENLE ANIMATIONS */
@keyframes grow {
    0%   { transform: scale(0); }
	80%  { transform: scale(300); }
	100% { transform: scale(300); opacity: 0; }
}

@keyframes bounce {
    0% { transform: scale(1); }
    35% { transform: scale(0.98); }
    50% { transform: scale(1.02); }
    75% { transform: scale(0.99); }
    90% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

/* BTN FREPI*/
#frepiBtn {
  @extend %button; 
  // @include btn-style(120px, 50px, 0, 0, 0)
}

/* BTN ENSI */
#ensiBtn {
    @extend %button;
    margin: 0 0 0 3vw;
    padding: 0;
    border: 1px solid #3f3f3f;
    display: flex;
    justify-content: flex-start;
}
#ensiBtn-text, #ensiBtn-ani {
  background: $color-white;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  outline: 0 !important;
}
#ensiBtn-text {
    @extend %button;
    width:70%;
    height: 100%;
    margin: 0;
    padding: 10px;
}
#ensiBtn-ani {
    @extend %button;
    width: 30%;
    height: 100%; 
    margin: 0;
    padding: 10px;
    position: relative;
}
.animate {
  color: transparent !important;
  :after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #fefefe;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: rotate-circle ease-in-out 1s forwards;
    -webkit-animation: rotate-circle ease-in-out 1s forwards;
  }
}
.animate.success:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 8px;
  border: 2px solid #fefefe;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  transform: translate(-50%, -50%) rotate(0) scale(0);
  -webkit-animation: success ease-in 0.2s forwards;
  animation: success ease-in 0.2s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* BTN ENSI ANIMATIONS */
@keyframes rotate-circle {
  0% { transform: translate(-50%, -50%) rotate(0deg) scale(1); }
  90% { transform: translate(-50%, -50%) rotate(720deg) scale(1); }
  100% { transform: scale(0); }
}
@-webkit-keyframes rotate-circle {
  0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1); }
  98% { -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(1); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(0); }
}
@keyframes success {
  from { transform: translate(-50%, -50%) rotate(-135deg) scale(0); }
  to { transform: translate(-50%, -50%) rotate(-45deg) scale(1); background-color: #14c88b; }
}
@-webkit-keyframes success {
  from { -webkit-transform: translate(-50%, -50%) rotate(-135deg) scale(0); }
  to { -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1); background-color: #14c88b; }
}


/* BTN RUSA */
#rusaBtn {
  @extend %button;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: $color-white;
  background:$color-btn-bg;
  position: relative;
}
#rusaBtn:before, #rusaBtn:after {
  transition: all 0.5s ease-in-out;
}
.animate-main {
  animation: gooey-border 2s ease-in-out alternate;
}
.animate-layer:before, .animate-layer:after {
  width: 110%;
  height: 110%;
  content:'';
  position: absolute;
  top:-5%;
  left:-5%;
  z-index: -1;
  border-radius: 50%;
}
.animate-layer:before {
  background: rgba(darken($color-btn-bg, 10%), 0.3);
  animation: gooey-border 2s ease-in-out alternate-reverse;
}
.animate-layer:after {
  background: rgba($color-btn-bg,0.3);
  animation: gooey-border-after 2s ease-in-out alternate-reverse;
}
/* BTN RUSA ANIMATIONS */
@keyframes gooey-border {
  0% { border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; }
  34% { border-radius: 62% 38% 50% 50% / 50% 50% 50% 50%  ; }
  67% { border-radius: 62% 38% 63% 37% / 50% 65% 35% 50%  ; }
  100% { border-radius: 62% 38% 63% 37% / 39% 65% 35% 61%  ; }
}
@keyframes gooey-border-after {
  0% { border-radius: 35% 65% 50% 50% / 50% 50% 50% 50% ; } 
  34% { border-radius: 35% 65% 45% 55% / 69% 50% 50% 31%; } 
  67% { border-radius: 35% 65% 45% 55% / 69% 33% 67% 31%; } 
  100% { border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; } 
}

/* CHECKBOX / RADIO */
.animate-frepi input, .animate-ensi input {
  display: none;
}

.animate-frepi div, .animate-ensi div {
  display: flex;
  align-items: center;
}

.frepiC label, .ensiC label {
  font-size: $text-size-btn;
}


/* CHECK ENLLE */


/* CHECK FREPI */
.animate-frepi {
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.animate-frepi span {
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 13px;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-frepi span::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.animate-frepi span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 100%;
  opacity: 0;
}

.animate-frepi svg {
  position: absolute;
  left: -50px;
  top: -50px;
  opacity: 0;
  visibility: hidden;
}

.animate-frepi div::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.animate-frepi:hover div span::before {
  animation: wobble 0.3s ease;
  background-color: $color-ultradarkgrey;
}

.animate-frepi:hover div::before {
  background-color:$color-white;
  border: 1px solid $color-darkgrey;
}

.animate-frepi input:checked + div{
  color:$color-ultradarkgrey;
}

.animate-frepi input:checked + div::before {
  animation: wobble 0.3s ease;
  /* background-color: #37425f; */
  color: $color-darkgrey;
  border: 1px solid #a6ac5c;
}

.animate-frepi input:checked + div span {
  background-color: #a6ac5c;
  animation: littleBounce 0.3s ease, wobble 0.3s ease;
}

.animate-frepi input:checked + div span::before {
  background-color: #fff;
}

.animate-frepi input:checked + div svg,
.animate-frepi.submit svg {
  animation: showParticles 0.4s ease;
}

.animate-frepi input:checked + div svg:last-child,
.animate-frepi.submit svg:last-child {
  animation: showParticlesRotateChange 0.3s ease;
}

/* ANIMATIONS */

@keyframes wobble {
  0% { ransform: scale(1) rotate(0deg) }
  40% { transform: scale(1.1, .9) rotate(5deg) }
  70% { transform: scale(.9, 1.1) rotate(-3deg) }
  80% { transform: scale(1.05, .95) rotate(1deg) }
  100% { transform: scale(1) rotate(0deg) }
}
@-webkit-keyframes wobble {
  0% { -webkit-transform: scale(1) rotate(0deg); }
  40% { -webkit-transform: scale(1.1, .9) rotate(5deg); }
  70% { -webkit-transform: scale(.9, 1.1) rotate(-3deg); }
  80% { -webkit-transform: scale(1.05, .95) rotate(1deg); }
  100% { -webkit-transform: scale(1) rotate(0deg) }
}

@keyframes showParticles {
  0% { opacity: 0; visibility: visible; transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; transform: scale(0.5) rotate(20deg); }
}
@-webkit-keyframes showParticles {
  0% { opacity: 0; visibility: visible; -webkit-transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; -webkit-transform: scale(0.5) rotate(20deg); }
}

@keyframes showParticlesRotateChange {
  0% { opacity: 0; visibility: visible; transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; transform: scale(0.5) rotate(-20deg); }
}
@-webkit-keyframes showParticlesRotateChange {
  0% { opacity: 0; visibility: visible; -webkit-transform: scale(0.25) rotate(0); }
  50% { opacity: 0.4; }
  100% { opacity: 0; -webkit-transform: scale(0.5) rotate(-20deg); }
}

/* CHECK ENSI */
.animate-ensi {
  display: block;
  width: 90%;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.animate-ensi div:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
}

.animate-ensi span {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  background-color: #fff;
  border: 1px solid rgba(146, 146, 146, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-ensi span:before {
  content: "";
  width:8px;
  height:8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.animate-ensi span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px lightgrey;
  border-radius: 100%;
  opacity: 0;
}

.animate-ensi:hover div span:before {
    background: lightgrey;
}

.animate-ensi:hover div:before {
  border: 1px solid lightgrey;
}

.animate-ensi input:checked + div{
  color: #000;
}

.animate-ensi input:checked + div:before {
  // animation: checkboxSelected 0.3s ease;
  box-shadow: 0 0 5px lightgrey;
  background-color: #fff;
  border: 1px solid lightgrey;
}

.animate-ensi input:checked + div span {
  background-color: rgba(0,0,0,0.6);
  animation: littleBounce 0.3s ease;
}

.animate-ensi input:checked + div span:before {
  background-color: #fff;
}

.animate-ensi input:checked + div span:after {
  animation: scale 0.25s ease;
}

/* ANIMATIONS */
@keyframes littleBounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@-webkit-keyframes littleBounce {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); }
}

@keyframes checkboxSelected {
  0% { transform: scale(1)}
  70% { transform: scaleY(1.1); }
  100% { transform: scale(1);}
} 
@-webkit-keyframes checkboxSelected {
  0% { -webkit-transform: scale(1)}
  70% { -webkit-transform: scaleY(1.1); }
  100% { -webkit-transform: scale(1);}
}

/* CHECK RUSA */


/* TEXTFIELD */
/* -------- textfield enle ----------------------------------------*/
/* -------- textfield frepi ----------------------------------------*/
/* -------- textfield ensi ----------------------------------------*/
/* -------- textfield rusa ----------------------------------------*/


/* MODAL */
/* -------- modal enle ----------------------------------------*/
/* -------- modal frepi ----------------------------------------*/
/* -------- modal ensi ----------------------------------------*/
/* -------- modal rusa ----------------------------------------*/
