// file: _layout.scss

// this file includes all styles for Generator Layout
.bi-fixed ul {
    width: 100%;
    // margin-left: 15vw;
    // background: $color-white;
    box-shadow: 0 5px 5px $color-lightgrey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    position: fixed;
    z-index: 10;
}
.bi-fixed #logo {
    z-index: 0;
}

header {
    #logo {
        width: 100%;
        padding: $padding;
        font-size: 1rem;
        text-align: center;
        background: $color-hover;
        box-shadow: 0 5px 5px rgba(146, 146, 146, 0.3);
         position: fixed;
        z-index: 10;
        span {
            margin-right: 15px;
            font-size: 1.5rem;
            font-family: 'Baloo Da', cursive;
        }

    }
    .intro-text,#brandidentity {
        padding: $padding;
    }
    ul {
        padding: 1vw 1vw 0 1vw;
        transition: all 0.5s ease-in-out;
        li {
            list-style-type: none;
            line-height: 2vw;
            box-shadow: 0 5px 5px rgba(146, 146, 146, 0.3);
        }
        li:first-of-type {
            border-bottom: 4px solid $enle;
        }
        li:nth-of-type(2) {
            border-bottom: 4px solid $frepi;
        }
        li:nth-of-type(3) {
            border-bottom: 4px solid $ensi;
        }
        li:last-of-type {
            border-bottom: 4px solid $rusa;
        }
    }
    @media (min-width:50rem) {
        @include grid(0.6fr repeat(4, 1fr), repeat(2,1fr));
        #logo {
            grid-column: 1/6;
            grid-row: 1/2;
        }
        .intro-text {
            grid-column: 1/2;
            grid-row: 2/4;
            padding: 1vw 0 1vw 2vw;
        }
        #brandidentity {
            grid-column: 2/6;
            grid-row: 2/3;
        }
        #components {
            grid-column:1/2;
            grid-row: 3/4;
        }
        ul {
            grid-column: 2/6;
            grid-row: 3/4;
            // @include grid(0.6fr repeat(4, 1fr), 1fr);
            @include grid(repeat(4, 1fr), 1fr);
        }
    }
}

main {
    grid-column: 1/6;
    grid-row: 4/8;
}

/* GENERATOR */
.generator {
    .bi {
        width:  18vw;
        height: 10vw;
        min-height: 100px;
        margin: 1vw;
        padding: $padding;
        text-align: center;
        background: $color-ultralightgrey;
        position: relative;
        .center {
            @include absoluteCenter;
            position: relative;
        }
        .shadow {
            width: 100%;
            height: 100%;
            background: rgba(215,215,215, 0.7);
            position: absolute;
            top:0;  
            left: 0;
            transition: all 0.5s ease-in;
            
        }
        .shadow:hover {
            background: rgba(215,215,215, 0);
        }
        

    }
    .enle {
        grid-column: 2/3;
        border: 1px solid $enle;
    }
    .frepi {
        grid-column: 3/4;
        border: 1px solid $frepi;
    }
    .ensi {
        grid-column: 4/5;
        border: 1px solid $ensi;
    }
    .rusa {
        grid-column: 5/6;
        border: 1px solid $rusa;
    }

    @media (min-width:50rem) {
        #components, .component-button, .component-checkbox, 
        .component-textfield, .component-modal {
            padding: 0 1vw 0 2vw;
        }
        .component-button, .component-checkbox, 
        .component-textfield, .component-modal {
            @include grid(0.5fr repeat(4, 1fr), 1fr);
            grid-row-gap: 2vw;
            .component-type {
                width: 100%;
                height: 83%;
                padding-top: 2vw;
                padding-left: 2vw;
                background: rgba(146, 146, 146, 0.15);
                grid-column: 1/2;
                align-self: center;
            }
            .enle {
                grid-column: 2/3;
            }
            .frepi {
                grid-column:3/4;
            }
            .ensi {
                grid-column: 4/5;
            }
            .rusa {
                grid-column: 5/6;
            }
        }
        .component-button {
            .component-type, .enle, .frepi, .ensi, .rusa {
                grid-row: 1/2;
            }
        }
        .component-checkbox {
            .component-type, .enle, .frepi, .ensi, .rusa {
                grid-row: 2/3;
            }
        }
        .component-textfield {
            .component-type, .enle, .frepi, .ensi, .rusa {
                grid-row: 2/3;
            }
        }
        .component-modal {
            .component-type, .enle, .frepi, .ensi, .rusa {
                grid-row: 2/3;
            }
        }
    }
}

