$text-font-default: 'Barlow Semi Condensed', Arial, sans-serif;
$text-size-default: 16px;
$text-size-btn: 1.2rem;

// $color-ultradarkgrey: #1d1f21;
$color-ultradarkgrey: #313335;
$color-darkgrey: #d3d0c9;
$color-lightgrey: #f1f1eb;
$color-ultralightgrey: #fbfcf7;
$color-hover:#C7E0E8;
$color-darkbluegrey:#7f8f94;

$color-white: #fff;

/* Buttonani colors */
$color-btn-bg: #E7C3FC;
$color-btn-bg-orange: #EF6A0F;

$center: 0 auto;

$width-height-default: 100%;

$padding: 1vw;
$margin: 1vw;
$border-radius: 5px;
$border-radius-top: 5px 5px 0 0;
$border-radius-bottom: 0 0 5px 5px;


/* Color Theme Swatches in Hex */
$Grayscale-1-hex: #DBDBDB;
$Grayscale-2-hex: #F0F0F0;
$Grayscale-3-hex: #FAFAFA;
$Grayscale-4-hex: #FFFFFF;
$Grayscale-5-hex: #000000;

/* Color Theme Swatches in RGBA */
$Grayscale-1-rgba: rgba(219,219,219, 1);
$Grayscale-2-rgba: rgba(239,239,239, 1);
$Grayscale-3-rgba: rgba(249,249,249, 1);
$Grayscale-4-rgba: rgba(255,255,255, 1);
$Grayscale-5-rgba: rgba(0,0,0, 1);


/* Color Theme Swatches in Hex */
$Jeannette-Technik-1-hex: #C7E0E8;
$Jeannette-Technik-2-hex: #E2FFFF;
$Jeannette-Technik-3-hex: #E7F3FF;
$Jeannette-Technik-4-hex: #C7CFE8;
$Jeannette-Technik-5-hex: #D5D5FF;

/* Color Theme Swatches in RGBA */
$Jeannette-Technik-1-rgba: rgba(198,223,232, 1);
$Jeannette-Technik-2-rgba: rgba(226,255,255, 1);
$Jeannette-Technik-3-rgba: rgba(231,242,255, 1);
$Jeannette-Technik-4-rgba: rgba(198,206,232, 1);
$Jeannette-Technik-5-rgba: rgba(213,212,255, 1);

