$text-font-default: Arial, sans-serif;
$text-size-default: 16px;
$text-size-btn: 1.2rem;

$color-bg-default: #fff;
$color-bg-ani: #5a5a5a;
$color-btn-bg: #E7C3FC;
$color-btn-text: #fff;

$center: 0 auto;

$width-height-default: 100%;

$padding-headline: 2vw;