@import 'variables';
@import 'mixins';
@import 'buttons';

/* ----- General ----------------------- */

* {
    @include reset;
}

html, body {
    width: $width-height-default;
    height: $width-height-default;
}

body {
    padding: $padding;
    font-size: $text-size-default;
    font-family: $text-font-default; 
    background:$color-darkgrey;
}

h2 {
    margin-bottom: 1vw;
    padding: $padding;
    font-size: 1.6rem;
    color: $color-white;
    background: $color-ultradarkgrey;
}

h3 {
    @include headline3;
}

p {
    font-size: 0.9rem;
}

/* ----- Content ----------------------- */
main {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width:50rem) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr repeat(3, 2fr);
        grid-gap: 1vw;
    }
}

.generator {

    header {
        background:$color-lightgrey;
        padding: $padding;
    }
    
    header #logo {
        font-family: 'Baloo Da', cursive;
    }

    @media (min-width:50rem) {
        grid-column: 1/3;
        grid-row: 1/4;
    }
}

.selection {

    .components, .brandidentity, .brandcolors {
        background: $color-white;
        padding: $padding;
        margin-bottom: 0.5vw;
    }

    .buttons:hover {
        @include button-hover;
    }

    #components {
        display: flex;
        justify-content: space-around;
    }
    
    #components .buttons {
        @include buttons-rounded;
        transition: all 0.5s ease-in-out;
    }

    #brandidentity .buttons {
        
    }

    @media (min-width:50rem) {
        .selection {
            grid-column: 3/4;
            grid-row: 1/5;
        }

        #brandidentity {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        #btn-enle {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        #btn-frepi {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        #btn-ensi {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        #btn-rusa {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}

.output {
    color: $color-white;
    background: $color-ultradarkgrey;

    @media (min-width:50rem) {
        grid-column: 1/3;
        grid-row: 4/5;
    }
}

.preview {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background:$color-ultralightgrey;
}

#demo-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: purple;
}