/* VARIABLES */
/* color scheme */
/* RGB */
/* Buttonani colors */
/* EXTEND */
#enleBtn, #frepiBtn, #ensiBtn, #ensiBtn-text, #ensiBtn-ani, #rusaBtn {
  width: 120px;
  height: 50px;
  margin: 1vw;
  padding: 1vw;
  font-size: 1rem;
  text-align: center;
  color: #313335;
  background: #fff;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  outline: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* MIXINS */
/* GENERAL */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  max-height: 100%;
}

body {
  padding: 1vw;
  font-size: 16px;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
  background: #7f8f94;
}

h2 {
  margin-bottom: 1vw;
  padding: 1vw;
  font-size: 1.5rem;
  color: #fff;
  background: rgba(60, 59, 58, 0.7);
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}

footer {
  height: 5vw;
  background: #C7E0E8;
}

main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

@media (min-width: 50rem) {
  main {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  main > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

/* GENERATOR */
.generator {
  width: 100%;
}

.generator header {
  background: #C7E0E8;
  padding: 1vw;
  border-radius: 5px 5px 0 0;
}

.generator header #logo {
  font-size: 1rem;
}

.generator header #logo span {
  margin-right: 15px;
  font-size: 1.5rem;
  font-family: 'Baloo Da', cursive;
}

.generator .get-code {
  width: 90%;
  height: 40px;
  margin: 1vw;
  font-size: 1rem;
  border-radius: 20px;
  border: 1.5px solid #dbdbd2;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 80px;
  height: 35px;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
  background: #dbdbd2;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 1vw;
  right: 1vw;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.generator .get-code:hover {
  background-color: #C7E0E8;
}

.generator #ani-preview {
  height: 64vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: #fafcf5;
  position: relative;
}

.generator .explanation-preview {
  padding: 1vw;
  text-align: center;
  background: #C7E0E8;
}

.generator .explanation-preview div:nth-of-type(2) {
  font-size: 0.8rem;
  padding-top: 0.5vw;
}

.generator #ani-code {
  height: 28.5vh;
  padding: 1vw;
  color: #fff;
  background: rgba(60, 59, 58, 0.7);
  border-radius: 0 0 5px 5px;
}

.generator #ani-code .code-output {
  min-height: 50px;
  margin: 0.5vw;
  padding: 5px;
  overflow: scroll;
  border: 1px solid #f1f1eb;
  border-radius: 5px;
}

.generator #ani-code .code-output .code-headline {
  color: #C7E0E8;
}

@media (min-width: 50rem) {
  .generator #ani-code {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .generator #ani-code h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media (min-width: 50rem) {
  .generator {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

/* SELECTION AREA */
.selection {
  margin-left: 10px;
}

.selection h2 {
  border-radius: 5px;
  margin-bottom: 0.5vw;
}

.selection .explanation-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 5fr;
  grid-template-columns: 0.5fr 5fr;
}

.selection .explanation-text .number {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  line-height: 28px;
  text-align: center;
  background: #dbdbd2;
  border-radius: 50%;
  position: relative;
}

.selection .explanation-text p span {
  font-weight: 900;
  text-transform: uppercase;
}

.selection .components-select, .selection .brandidentity-select,
.selection .brandcolors-select {
  padding: 1vw;
  margin-bottom: 10px;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
  border-radius: 5px;
  background: #fff;
}

.selection #brandidentity, .selection #components {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.selection #brandidentity > *:nth-child(1), .selection #components > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.selection #brandidentity > *:nth-child(2), .selection #components > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.selection #brandidentity > *:nth-child(3), .selection #components > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.selection #brandidentity > *:nth-child(4), .selection #components > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.selection #components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.selection #components .buttons {
  width: 90%;
  height: 40px;
  margin: 1vw;
  font-size: 1rem;
  border-radius: 20px;
  border: 1.5px solid #dbdbd2;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 1vw 1vw 0.5vw 1vw;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
  font-size: 0.9rem;
}

.selection .buttons {
  background-color: #fff;
  outline: 0 !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.selection #brandidentity {
  margin-top: 1vw;
  grid-gap: 0.2vw;
}

.selection #brandidentity .buttons {
  height: 40px;
  margin: 0.5vw;
  font-size: 0.9rem;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
}

.selection #brandcolors label {
  margin: 1vw 1vw 5px 0;
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
}

.selection #brandcolors input {
  width: 90%;
  padding: 2px;
  font-size: 0.9rem;
}

.selection .form-posi:last-of-type {
  width: 90%;
  margin-top: 2.5vw;
  padding: 5px;
  text-align: right;
}

.selection #btn-enle {
  border: 1.5px solid #ffbc57;
}

.selection #btn-frepi {
  border: 1.5px solid #cad170;
}

.selection #btn-ensi {
  border: 1.5px solid #a0d9ee;
}

.selection #btn-rusa {
  border: 1.5px solid #f7e0ff;
}

.selection #components .buttons:hover,
.selection #brandidentity .buttons:hover {
  background-color: #C7E0E8;
}

.selection .active {
  background-color: #C7E0E8;
}

@media (min-width: 50rem) {
  .selection {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .selection #brandidentity, .selection #components, .selection #brandcolors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.2vw 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 0.2vw 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .selection #brandidentity > *:nth-child(1), .selection #components > *:nth-child(1), .selection #brandcolors > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .selection #brandidentity > *:nth-child(2), .selection #components > *:nth-child(2), .selection #brandcolors > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .selection #brandidentity > *:nth-child(3), .selection #components > *:nth-child(3), .selection #brandcolors > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .selection #brandidentity > *:nth-child(4), .selection #components > *:nth-child(4), .selection #brandcolors > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .selection #enle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .selection #frepi {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .selection #ensi {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .selection #rusa {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

/* BUTTONS */
/* BTN ENLE*/
#enleBtn {
  color: #fff;
  background: #000;
  overflow: hidden;
  position: relative;
}

.animate-enle-btn-bg {
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #EF6A0F;
  position: absolute;
  mix-blend-mode: screen;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.bounce {
  animation: bounce 0.5s forwards;
}

.enle-btn-grow {
  animation: enleBtnGrow 1s forwards;
}

/* BTN ENLE ANIMATIONS */
@keyframes enleBtnGrow {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(300);
  }
  100% {
    transform: scale(300);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(0.99);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}