/* VARIABLES */
/* RGB */
/* Buttonani colors */
/* EXTEND */
#enleBtn, #frepiBtn, #ensiBtn, #ensiBtn-text, #ensiBtn-ani, #rusaBtn {
  width: 120px;
  height: 50px;
  margin: 1vw;
  padding: 1vw;
  font-size: 1.2rem;
  text-align: center;
  color: #313335;
  background: #fff;
  border-radius: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* MIXINS */
/* GENERAL */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-height: 500px;
}

body {
  font-size: 16px;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
  background: #fff;
}

h2 {
  margin-bottom: 1vw;
  font-size: 1.2rem;
  color: #313335;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

.bi-fixed ul {
  width: 100%;
  box-shadow: 0 5px 5px #f1f1eb;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  position: fixed;
  z-index: 10;
}

.bi-fixed #logo {
  z-index: 0;
}

header #logo {
  width: 100%;
  padding: 1vw;
  font-size: 1rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 5px 5px #f1f1eb;
  position: fixed;
  z-index: 10;
}

header #logo span {
  margin-right: 15px;
  font-size: 1.5rem;
  font-family: 'Baloo Da', cursive;
}

header .intro-text, header #brandidentity, header ul {
  padding: 1vw;
}

header ul {
  transition: all 0.5s ease-in-out;
}

header ul li {
  list-style-type: none;
}

header ul li:first-of-type {
  border-bottom: 4px solid #ffbc57;
}

header ul li:nth-of-type(2) {
  border-bottom: 4px solid #edf5a3;
}

header ul li:nth-of-type(3) {
  border-bottom: 4px solid #a0d9ee;
}

header ul li:last-of-type {
  border-bottom: 4px solid #f7e0ff;
}

@media (min-width: 50rem) {
  header {
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  header #logo {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  header .intro-text {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  header #brandidentity {
    grid-column: 2/6;
    grid-row: 2/3;
  }
  header #components {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  header ul {
    grid-column: 2/6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

main {
  grid-column: 1/6;
  grid-row: 4/8;
}

/* GENERATOR */
.generator {
  padding: 1vw;
}

.generator .bi {
  width: 18vw;
  height: 10vw;
  min-height: 100px;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  background: #fbfcf7;
  position: relative;
}

.generator .bi .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generator .enle {
  grid-column: 2/3;
  border: 1px solid #ffbc57;
}

.generator .frepi {
  grid-column: 3/4;
  border: 1px solid #edf5a3;
}

.generator .ensi {
  grid-column: 4/5;
  border: 1px solid #a0d9ee;
}

.generator .rusa {
  grid-column: 5/6;
  border: 1px solid #f7e0ff;
}

@media (min-width: 50rem) {
  .generator .component-button, .generator .component-checkbox,
  .generator .component-textfield, .generator .component-modal {
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 2vw;
  }
  .generator .component-button .component-type, .generator .component-checkbox .component-type,
  .generator .component-textfield .component-type, .generator .component-modal .component-type {
    grid-column: 1/2;
  }
  .generator .component-button .enle, .generator .component-checkbox .enle,
  .generator .component-textfield .enle, .generator .component-modal .enle {
    grid-column: 2/3;
  }
  .generator .component-button .frepi, .generator .component-checkbox .frepi,
  .generator .component-textfield .frepi, .generator .component-modal .frepi {
    grid-column: 3/4;
  }
  .generator .component-button .ensi, .generator .component-checkbox .ensi,
  .generator .component-textfield .ensi, .generator .component-modal .ensi {
    grid-column: 4/5;
  }
  .generator .component-button .rusa, .generator .component-checkbox .rusa,
  .generator .component-textfield .rusa, .generator .component-modal .rusa {
    grid-column: 5/6;
  }
  .generator .component-button .component-type, .generator .component-button .enle, .generator .component-button .frepi, .generator .component-button .ensi, .generator .component-button .rusa {
    grid-row: 1/2;
  }
  .generator .component-checkbox .component-type, .generator .component-checkbox .enle, .generator .component-checkbox .frepi, .generator .component-checkbox .ensi, .generator .component-checkbox .rusa {
    grid-row: 2/3;
  }
  .generator .component-textfield .component-type, .generator .component-textfield .enle, .generator .component-textfield .frepi, .generator .component-textfield .ensi, .generator .component-textfield .rusa {
    grid-row: 2/3;
  }
  .generator .component-modal .component-type, .generator .component-modal .enle, .generator .component-modal .frepi, .generator .component-modal .ensi, .generator .component-modal .rusa {
    grid-row: 2/3;
  }
}

/* BUTTONS */
/* -------- button enle ----------------------------------------*/
#enleBtn {
  color: #fff;
  background: #000;
  overflow: hidden;
  position: relative;
}

.animateBg {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #EF6A0F;
  position: absolute;
  transform: translate(240%, 200%);
  mix-blend-mode: screen;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.bounce {
  animation: bounce 0.5s forwards;
}

.grow {
  animation: grow 1s forwards;
}

@keyframes grow {
  0% {
    transform: translateX(25vw) scale(0);
  }
  80% {
    transform: translateX(25vw) scale(150);
  }
  100% {
    transform: translateX(25vw) scale(150);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(0.99);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

/* -------- button frepi ----------------------------------------*/
/* -------- button ensi ----------------------------------------*/
#ensiBtn {
  padding: 0;
  border: 1px solid #3f3f3f;
  display: flex;
  justify-content: flex-start;
}

#ensiBtn-text, #ensiBtn-ani {
  background: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  outline: 0 !important;
}

#ensiBtn-text {
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 10px;
}

#ensiBtn-ani {
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 10px;
  position: relative;
}

.animate {
  color: transparent !important;
}

.animate :after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #fefefe;
  border-radius: 50%;
  border-left-color: transparent;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: rotate-circle ease-in-out 1s forwards;
  -webkit-animation: rotate-circle ease-in-out 1s forwards;
}

.animate.success:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 8px;
  border: 2px solid #fefefe;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  transform: translate(-50%, -50%) rotate(0) scale(0);
  -webkit-animation: success ease-in 0.2s forwards;
  animation: success ease-in 0.2s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes rotate-circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  90% {
    transform: translate(-50%, -50%) rotate(720deg) scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes rotate-circle {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  98% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(0);
  }
}

@keyframes success {
  from {
    transform: translate(-50%, -50%) rotate(-135deg) scale(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    background-color: #14c88b;
  }
}

@-webkit-keyframes success {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(-135deg) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    background-color: #14c88b;
  }
}

@keyframes error {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
  }
}

@-webkit-keyframes error {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
  }
}

@keyframes vibrate {
  0%, 30%, 60%, 85%, 100% {
    left: 0;
    background-color: #f44336;
  }
  10%, 40%, 90%, 70% {
    left: -2px;
    background-color: #f44336;
  }
  20%, 50%, 80%, 95% {
    left: 2px;
    background-color: #f44336;
  }
}

@-webkit-keyframes vibrate {
  0%, 30%, 60%, 85%, 100% {
    left: 0;
    background-color: #f44336;
  }
  10%, 40%, 90%, 70% {
    left: -2px;
    background-color: #f44336;
  }
  20%, 50%, 80%, 95% {
    left: 2px;
    background-color: #f44336;
  }
}

/* -------- button rusa ----------------------------------------*/
#rusaBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  background: #E7C3FC;
  position: relative;
}

#rusaBtn:before, #rusaBtn:after {
  transition: all 0.5s ease-in-out;
}

.animate-main {
  animation: gooey-border 2s ease-in-out alternate;
}

.animate-layer:before, .animate-layer:after {
  width: 110%;
  height: 110%;
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  border-radius: 50%;
}

.animate-layer:before {
  background: rgba(212, 146, 250, 0.3);
  animation: gooey-border 2s ease-in-out alternate-reverse;
}

.animate-layer:after {
  background: rgba(231, 195, 252, 0.3);
  animation: gooey-border-after 2s ease-in-out alternate-reverse;
}

@keyframes gooey-border {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  34% {
    border-radius: 62% 38% 50% 50% / 50% 50% 50% 50%;
  }
  67% {
    border-radius: 62% 38% 63% 37% / 50% 65% 35% 50%;
  }
  100% {
    border-radius: 62% 38% 63% 37% / 39% 65% 35% 61%;
  }
}

@keyframes gooey-border-after {
  0% {
    border-radius: 35% 65% 50% 50% / 50% 50% 50% 50%;
  }
  34% {
    border-radius: 35% 65% 45% 55% / 69% 50% 50% 31%;
  }
  67% {
    border-radius: 35% 65% 45% 55% / 69% 33% 67% 31%;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

/* CHECKBOX / RADIO */
/* -------- checkbox enle ----------------------------------------*/
/* -------- checkbox frepi ----------------------------------------*/
/* -------- checkbox ensi ----------------------------------------*/
/* -------- checkbox rusa ----------------------------------------*/
/* TEXTFIELD */
/* -------- textfield enle ----------------------------------------*/
/* -------- textfield frepi ----------------------------------------*/
/* -------- textfield ensi ----------------------------------------*/
/* -------- textfield rusa ----------------------------------------*/
/* MODAL */
/* -------- modal enle ----------------------------------------*/
/* -------- modal frepi ----------------------------------------*/
/* -------- modal ensi ----------------------------------------*/
/* -------- modal rusa ----------------------------------------*/
/*# sourceMappingURL=main.css.map */