/* VARIABLES */
/* RGB */
/* Buttonani colors */
/* EXTEND */
#enleBtn, #frepiBtn, #ensiBtn, #ensiBtn-text, #ensiBtn-ani, #rusaBtn {
  width: 120px;
  height: 50px;
  margin: 1vw;
  padding: 1vw;
  font-size: 1.2rem;
  text-align: center;
  color: #313335;
  background: #fff;
  border-radius: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* MIXINS */
/* GENERAL */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-height: 500px;
}

body {
  font-size: 16px;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
  background: rgba(146, 146, 146, 0.1);
}

h2 {
  margin-bottom: 1vw;
  font-size: 1.2rem;
  color: #313335;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

.bi-fixed ul {
  width: 100%;
  box-shadow: 0 5px 5px #f1f1eb;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  position: fixed;
  z-index: 10;
}

.bi-fixed #logo {
  z-index: 0;
}

header #logo {
  width: 100%;
  padding: 1vw;
  font-size: 1rem;
  text-align: center;
  background: #C7E0E8;
  box-shadow: 0 5px 5px rgba(146, 146, 146, 0.3);
  position: fixed;
  z-index: 10;
}

header #logo span {
  margin-right: 15px;
  font-size: 1.5rem;
  font-family: 'Baloo Da', cursive;
}

header .intro-text, header #brandidentity {
  padding: 1vw;
}

header ul {
  padding: 1vw 1vw 0 1vw;
  transition: all 0.5s ease-in-out;
}

header ul li {
  list-style-type: none;
  line-height: 2vw;
  box-shadow: 0 5px 5px rgba(146, 146, 146, 0.3);
}

header ul li:first-of-type {
  border-bottom: 4px solid #ffbc57;
}

header ul li:nth-of-type(2) {
  border-bottom: 4px solid #cad170;
}

header ul li:nth-of-type(3) {
  border-bottom: 4px solid #a0d9ee;
}

header ul li:last-of-type {
  border-bottom: 4px solid #f7e0ff;
}

@media (min-width: 50rem) {
  header {
    display: grid;
    grid-template-columns: 0.6fr repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  header #logo {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  header .intro-text {
    grid-column: 1/2;
    grid-row: 2/4;
    padding: 1vw 0 1vw 2vw;
  }
  header #brandidentity {
    grid-column: 2/6;
    grid-row: 2/3;
  }
  header #components {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  header ul {
    grid-column: 2/6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

main {
  grid-column: 1/6;
  grid-row: 4/8;
}

/* GENERATOR */
.generator .bi {
  width: 18vw;
  height: 10vw;
  min-height: 100px;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  background: #fbfcf7;
  position: relative;
}

.generator .bi .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.generator .enle {
  grid-column: 2/3;
  border: 1px solid #ffbc57;
}

.generator .frepi {
  grid-column: 3/4;
  border: 1px solid #cad170;
}

.generator .ensi {
  grid-column: 4/5;
  border: 1px solid #a0d9ee;
}

.generator .rusa {
  grid-column: 5/6;
  border: 1px solid #f7e0ff;
}

@media (min-width: 50rem) {
  .generator #components, .generator .component-button, .generator .component-checkbox,
  .generator .component-textfield, .generator .component-modal {
    padding: 0 1vw 0 2vw;
  }
  .generator .component-button, .generator .component-checkbox,
  .generator .component-textfield, .generator .component-modal {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 4vw;
  }
  .generator .component-button .component-type, .generator .component-checkbox .component-type,
  .generator .component-textfield .component-type, .generator .component-modal .component-type {
    width: 100%;
    height: 83%;
    padding-top: 2vw;
    padding-left: 2vw;
    background: rgba(146, 146, 146, 0.15);
    grid-column: 1/2;
    align-self: center;
  }
  .generator .component-button .enle, .generator .component-checkbox .enle,
  .generator .component-textfield .enle, .generator .component-modal .enle {
    grid-column: 2/3;
  }
  .generator .component-button .frepi, .generator .component-checkbox .frepi,
  .generator .component-textfield .frepi, .generator .component-modal .frepi {
    grid-column: 3/4;
  }
  .generator .component-button .ensi, .generator .component-checkbox .ensi,
  .generator .component-textfield .ensi, .generator .component-modal .ensi {
    grid-column: 4/5;
  }
  .generator .component-button .rusa, .generator .component-checkbox .rusa,
  .generator .component-textfield .rusa, .generator .component-modal .rusa {
    grid-column: 5/6;
  }
  .generator .component-button .component-type, .generator .component-button .enle, .generator .component-button .frepi, .generator .component-button .ensi, .generator .component-button .rusa {
    grid-row: 1/2;
  }
  .generator .component-checkbox .component-type, .generator .component-checkbox .enle, .generator .component-checkbox .frepi, .generator .component-checkbox .ensi, .generator .component-checkbox .rusa {
    grid-row: 2/3;
  }
  .generator .component-textfield .component-type, .generator .component-textfield .enle, .generator .component-textfield .frepi, .generator .component-textfield .ensi, .generator .component-textfield .rusa {
    grid-row: 2/3;
  }
  .generator .component-modal .component-type, .generator .component-modal .enle, .generator .component-modal .frepi, .generator .component-modal .ensi, .generator .component-modal .rusa {
    grid-row: 2/3;
  }
}

/* BUTTONS */
/* BTN ENLE*/
#enleBtn {
  color: #fff;
  background: #000;
  overflow: hidden;
  position: relative;
}

.animateBg {
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #EF6A0F;
  position: absolute;
  mix-blend-mode: screen;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.bounce {
  animation: bounce 0.5s forwards;
}

.grow {
  animation: grow 1s forwards;
}

/* BTN ENLE ANIMATIONS */
@keyframes grow {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(300);
  }
  100% {
    transform: scale(300);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(0.99);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

/* BTN FREPI*/
/* BTN ENSI */
#ensiBtn {
  margin: 0 0 0 3vw;
  padding: 0;
  border: 1px solid #3f3f3f;
  display: flex;
  justify-content: flex-start;
}

#ensiBtn-text, #ensiBtn-ani {
  background: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  outline: 0 !important;
}

#ensiBtn-text {
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 10px;
}

#ensiBtn-ani {
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 10px;
  position: relative;
}

.animate {
  color: transparent !important;
}

.animate :after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #fefefe;
  border-radius: 50%;
  border-left-color: transparent;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: rotate-circle ease-in-out 1s forwards;
  -webkit-animation: rotate-circle ease-in-out 1s forwards;
}

.animate.success:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 8px;
  border: 2px solid #fefefe;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  transform: translate(-50%, -50%) rotate(0) scale(0);
  -webkit-animation: success ease-in 0.2s forwards;
  animation: success ease-in 0.2s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* BTN ENSI ANIMATIONS */
@keyframes rotate-circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  90% {
    transform: translate(-50%, -50%) rotate(720deg) scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes rotate-circle {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  98% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(0);
  }
}

@keyframes success {
  from {
    transform: translate(-50%, -50%) rotate(-135deg) scale(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    background-color: #14c88b;
  }
}

@-webkit-keyframes success {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(-135deg) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    background-color: #14c88b;
  }
}

/* BTN RUSA */
#rusaBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  background: #E7C3FC;
  position: relative;
}

#rusaBtn:before, #rusaBtn:after {
  transition: all 0.5s ease-in-out;
}

.animate-main {
  animation: gooey-border 2s ease-in-out alternate;
}

.animate-layer:before, .animate-layer:after {
  width: 110%;
  height: 110%;
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  border-radius: 50%;
}

.animate-layer:before {
  background: rgba(212, 146, 250, 0.3);
  animation: gooey-border 2s ease-in-out alternate-reverse;
}

.animate-layer:after {
  background: rgba(231, 195, 252, 0.3);
  animation: gooey-border-after 2s ease-in-out alternate-reverse;
}

/* BTN RUSA ANIMATIONS */
@keyframes gooey-border {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  34% {
    border-radius: 62% 38% 50% 50% / 50% 50% 50% 50%;
  }
  67% {
    border-radius: 62% 38% 63% 37% / 50% 65% 35% 50%;
  }
  100% {
    border-radius: 62% 38% 63% 37% / 39% 65% 35% 61%;
  }
}

@keyframes gooey-border-after {
  0% {
    border-radius: 35% 65% 50% 50% / 50% 50% 50% 50%;
  }
  34% {
    border-radius: 35% 65% 45% 55% / 69% 50% 50% 31%;
  }
  67% {
    border-radius: 35% 65% 45% 55% / 69% 33% 67% 31%;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

/* CHECKBOX / RADIO */
.animate-frepi input, .animate-ensi input {
  display: none;
}

.animate-frepi div, .animate-ensi div {
  display: flex;
  align-items: center;
}

.frepiC label, .ensiC label {
  font-size: 1.2rem;
}

/* CHECK ENLLE */
.animate-enle {
  display: block;
  width: 200px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.animate-enle div {
  display: flex;
  align-items: center;
}

.animate-enle input {
  display: none;
}

.triangle {
  border-top: 20px solid #037CA9;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(180deg);
}

.animate-enle span {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  /* width: 0px;
  height: 0px; 
    border-top: 20px solid #037CA9; 
 border-left: 12px solid transparent; 
   border-right: 12px solid transparent; 
   transform: rotate(180deg); 
  background-color:transparent; */
  background-color: white;
  border: 1.5px solid darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-enle span::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.animate-enle span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid darkgrey;
  /* box-shadow: 0 0 0 1px #fff;*/
  border-radius: 100%;
  opacity: 0;
}

.animate-enle svg {
  position: absolute;
  left: -50px;
  top: -50px;
  opacity: 1;
  visibility: visible;
}

.animate-enle div::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
}

.animate-enle:hover div span::before {
  background-color: #373d4c;
}

.animate-enle:hover div::before {
  border: 1px solid lightgrey;
}

.animate-enle input:checked + div {
  color: #000;
}

.animate-enle input:checked + div::before {
  animation: bounce 0.3s 0.4s cubic-bezier(0.2, 0.37, 0.72, 1.38);
  background-color: white;
  border: 1px solid darkgrey;
}

.animate-enle input:checked + div span {
  background-color: #fff;
  animation: rotateCheck 0.4s ease-in-out;
}

.animate-enle input:checked + div span::before {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.5);
  animation: grow 0.3s ease;
}

/* ANIMATION */
@keyframes rotateCheck {
  0% {
    transform: rotate(0deg) scale(1);
  }
  70% {
    transform: rotate(360deg) scale(1.1);
    border-radius: 50%;
  }
  85% {
    transform: rotate(880deg) scale(1.3);
    border-radius: 50%;
    background-color: darkgrey;
  }
  95% {
    transform: rotate(1080deg) scale(1.3);
    border-radius: 5%;
    background-color: white;
  }
  100% {
    transform: rotate(0deg) scale(1);
    background-color: white;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(0.99);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
    background: #373d4c;
  }
  35% {
    transform: scale(3);
    background-color: white;
  }
  100% {
    transform: scale(1.5);
    background: white;
  }
}

/* CHECK FREPI */
.animate-frepi {
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.animate-frepi span {
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 13px;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-frepi span::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.animate-frepi span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 100%;
  opacity: 0;
}

.animate-frepi svg {
  position: absolute;
  left: -50px;
  top: -50px;
  opacity: 0;
  visibility: hidden;
}

.animate-frepi div::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.animate-frepi:hover div span::before {
  animation: wobble 0.3s ease;
  background-color: #313335;
}

.animate-frepi:hover div::before {
  background-color: #fff;
  border: 1px solid #d3d0c9;
}

.animate-frepi input:checked + div {
  color: #313335;
}

.animate-frepi input:checked + div::before {
  animation: wobble 0.3s ease;
  /* background-color: #37425f; */
  color: #d3d0c9;
  border: 1px solid #a6ac5c;
}

.animate-frepi input:checked + div span {
  background-color: #a6ac5c;
  animation: littleBounce 0.3s ease, wobble 0.3s ease;
}

.animate-frepi input:checked + div span::before {
  background-color: #fff;
}

.animate-frepi input:checked + div svg,
.animate-frepi.submit svg {
  animation: showParticles 0.4s ease;
}

.animate-frepi input:checked + div svg:last-child,
.animate-frepi.submit svg:last-child {
  animation: showParticlesRotateChange 0.3s ease;
}

/* ANIMATIONS */
@keyframes wobble {
  0% {
    ransform: scale(1) rotate(0deg);
  }
  40% {
    transform: scale(1.1, 0.9) rotate(5deg);
  }
  70% {
    transform: scale(0.9, 1.1) rotate(-3deg);
  }
  80% {
    transform: scale(1.05, 0.95) rotate(1deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
  }
  40% {
    -webkit-transform: scale(1.1, 0.9) rotate(5deg);
  }
  70% {
    -webkit-transform: scale(0.9, 1.1) rotate(-3deg);
  }
  80% {
    -webkit-transform: scale(1.05, 0.95) rotate(1deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
  }
}

@keyframes showParticles {
  0% {
    opacity: 0;
    visibility: visible;
    transform: scale(0.25) rotate(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) rotate(20deg);
  }
}

@-webkit-keyframes showParticles {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: scale(0.25) rotate(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) rotate(20deg);
  }
}

@keyframes showParticlesRotateChange {
  0% {
    opacity: 0;
    visibility: visible;
    transform: scale(0.25) rotate(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) rotate(-20deg);
  }
}

@-webkit-keyframes showParticlesRotateChange {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: scale(0.25) rotate(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) rotate(-20deg);
  }
}

/* CHECK ENSI */
.animate-ensi {
  display: block;
  width: 90%;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.animate-ensi div:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  transition: all 0.3s ease;
}

.animate-ensi span {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  background-color: #fff;
  border: 1px solid rgba(146, 146, 146, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-ensi span:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.animate-ensi span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px lightgrey;
  border-radius: 100%;
  opacity: 0;
}

.animate-ensi:hover div span:before {
  background: lightgrey;
}

.animate-ensi:hover div:before {
  border: 1px solid lightgrey;
}

.animate-ensi input:checked + div {
  color: #000;
}

.animate-ensi input:checked + div:before {
  box-shadow: 0 0 5px lightgrey;
  background-color: #fff;
  border: 1px solid lightgrey;
}

.animate-ensi input:checked + div span {
  background-color: rgba(0, 0, 0, 0.6);
  animation: littleBounce 0.3s ease;
}

.animate-ensi input:checked + div span:before {
  background-color: #fff;
}

.animate-ensi input:checked + div span:after {
  animation: scale 0.25s ease;
}

/* ANIMATIONS */
@keyframes littleBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes littleBounce {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes checkboxSelected {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes checkboxSelected {
  0% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

/* CHECK RUSA */
/* TEXTFIELD */
/* -------- textfield enle ----------------------------------------*/
/* -------- textfield frepi ----------------------------------------*/
/* -------- textfield ensi ----------------------------------------*/
/* -------- textfield rusa ----------------------------------------*/
/* MODAL */
/* -------- modal enle ----------------------------------------*/
/* -------- modal frepi ----------------------------------------*/
/* -------- modal ensi ----------------------------------------*/
/* -------- modal rusa ----------------------------------------*/
/*# sourceMappingURL=main.css.map */