$text-font-default: Arial, sans-serif;
$text-size-default: 16px;
$text-size-btn: 1.2rem;

$color-bg-default: #fff;
$color-bg-ani: #5a5a5a;
$color-btn-bg: #E7C3FC;
$color-btn-bg-orange: #EF6A0F;
// $color-btn-bg: orange;
$color-btn-text: #fff;
$color-btn-text-black: #000;
// $gradient-end: linear-gradient(135deg,  #7db9ea 0%,#22ad27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

$center: 0 auto;

$width-height-default: 100%;