@import 'variables';
@import 'mixins';

* {
    @include resetting;
}

body {
    font-size: $text-default;
}

#entsiBtn {
    width: 120px;
    height: 50px;
    margin: 30px auto;
    border: 1px solid #3f3f3f;
}

#entsiBtn-text, #entsiBtn-ani {
  background: $color-bg-default;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.5s ease-in-out;
  outline: 0 !important;
}

#entsiBtn:hover #entsiBtn-text, #entsiBtn:hover #entsiBtn-ani {
  background: #5a5a5a;
  color: #fff;
}

#entsiBtn-text {
    @include btn-style(70%, 100%, 0, 10px, 0);
}

#entsiBtn-ani {
    @include btn-style(30%, 100%, -4px, 10px, 0);
    // background: red;
    position: relative;
}

.color-ani {
  // background-color:$color-bg-ani;
  color: rbga(255,255,255,0.2)
  // color: red;
}

.animate {
  // background-color:$color-bg-ani;
  color: transparent !important;
}

.animate:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #fefefe;
  border-radius: 50%;

  // lässt Lücke im Kreis entstehen
  border-left-color: transparent;

  // mittig
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  animation: rotate-circle ease-in-out 2s forwards;
  -webkit-animation: rotate-circle ease-in-out 2s forwards;
}

.animate.success:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 10px;
  border: 2px solid #fefefe;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
  transform: translate(-50%, -40%) rotate(0deg) scale(0);
  -webkit-animation: success ease-in 0.1s forwards;
  animation: success ease-in 0.1s forwards;
  animation-delay: 2.5s;
}

@keyframes rotate-circle {
  0% { transform: translate(-50%, -50%) rotate(0deg) scale(1); }
  90% { transform: translate(-50%, -50%) rotate(1080deg) scale(1); }
  100% { transform: scale(0); }
}
@-webkit-keyframes rotate-circle {
  0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1); }
  98% { -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0); }
}

@keyframes success {
  from { transform: translate(-50%, -50%) rotate(0) scale(0); }
  to { transform: translate(-50%, -50%) rotate(-45deg) scale(1); }
}
@-webkit-keyframes success {
  from { -webkit-transform: translate(-50%, -50%) rotate(0) scale(0); }
  to { -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1); }
}
@keyframes error {
  from { transform: translate(-50%, -50%) scale(0); }
  to { transform: translate(-50%, -50%) scale(1); background-color: #f44336; }
}
@-webkit-keyframes error {
  from { -webkit-transform: translate(-50%, -50%) scale(0); }
  to { -webkit-transform: translate(-50%, -50%) scale(1); background-color: #f44336; }
}
@keyframes vibrate {
  0%, 30%, 60%, 85%, 100% { left: 0; background-color: #f44336; }
  10%, 40%, 90%, 70% { left: -2px; background-color: #f44336; }
  20%, 50%, 80%, 95% { left: 2px; background-color: #f44336; }
}