@import 'variables';
@import 'mixins';

* {
    @include reset;
}

html, body {
    width: $width-height-default; 
    height: $width-height-default; 
}

body {
    font-family: $text-font-default;
    font-size: $text-size-default;
}

#enleBtn {
    @include btn-style(120px, 50px, 3vw, 10px, 0);
    background: #000;
    // background: transparent;
    // color: #000000;
    color: $color-btn-text;
    // border: 2px solid #000;
    overflow:hidden;
    cursor: pointer;
    outline:0;
    position: relative;
    transition: background 0.5s ease-in-out;
}

#enleBtn:hover {
    // background: rgba(lighten($color-btn-bg-orange, 10%),1);
}

.animateBg {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background:$color-btn-bg-orange;
    position: absolute;
    transform: translate(240%, 200%);
    mix-blend-mode:screen;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.bounce {
    animation: bounce 0.5s forwards; 
}

.grow {
    animation: grow 1s forwards;
}

.changeColor {
    animation: changeColor 0.5s ease-in-out;
}

@keyframes grow {
    0%   { transform: scale(0); }
	80%  { transform: scale(150); }
	100% { transform: scale(150); opacity: 0; }
}

@keyframes changeColor {
    // 0% { background-color: }
    // 100% { background-color: }
}

@keyframes bounce {
    0% { transform: scale(1); }
    35% { transform: scale(0.98); }
    50% { transform: scale(1.02); }
    75% { transform: scale(0.99); }
    90% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

.box {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background:orange;
}
