* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

#entsiBtn {
  width: 120px;
  height: 50px;
  margin: 30px auto;
  border: 1px solid #3f3f3f;
}

#entsiBtn:hover #entsiBtn-text, #entsiBtn:hover #entsiBtn-ani {
  background: #5a5a5a;
  color: #fff;
}

#entsiBtn-text, #entsiBtn-ani {
  background: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  outline: 0 !important;
}

#entsiBtn-text {
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

#entsiBtn-ani {
  width: 30%;
  height: 100%;
  margin: -4px;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0;
  border: none;
  box-shadow: none;
  position: relative;
}

.color-ani {
  color: rbga(255, 255, 255, 0.2);
}

.animate {
  color: transparent !important;
}

.animate:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #fefefe;
  border-radius: 50%;
  border-left-color: transparent;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: rotate-circle ease-in-out 1s forwards;
  -webkit-animation: rotate-circle ease-in-out 1s forwards;
}

.animate.success:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 8px;
  border: 2px solid #fefefe;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  transform: translate(-50%, -50%) rotate(0) scale(0);
  -webkit-animation: success ease-in 0.2s forwards;
  animation: success ease-in 0.2s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes rotate-circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  90% {
    transform: translate(-50%, -50%) rotate(720deg) scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes rotate-circle {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  98% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg) scale(0);
  }
}

@keyframes success {
  from {
    transform: translate(-50%, -50%) rotate(-135deg) scale(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    background-color: #14c88b;
  }
}

@-webkit-keyframes success {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(-135deg) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    background-color: #14c88b;
  }
}

@keyframes error {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
  }
}

@-webkit-keyframes error {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
  }
}

@keyframes vibrate {
  0%, 30%, 60%, 85%, 100% {
    left: 0;
    background-color: #f44336;
  }
  10%, 40%, 90%, 70% {
    left: -2px;
    background-color: #f44336;
  }
  20%, 50%, 80%, 95% {
    left: 2px;
    background-color: #f44336;
  }
}

@-webkit-keyframes vibrate {
  0%, 30%, 60%, 85%, 100% {
    left: 0;
    background-color: #f44336;
  }
  10%, 40%, 90%, 70% {
    left: -2px;
    background-color: #f44336;
  }
  20%, 50%, 80%, 95% {
    left: 2px;
    background-color: #f44336;
  }
}
/*# sourceMappingURL=ensi-btn.css.map */