@import 'variables';
@import 'mixins';

* {
    @include reset;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: $text-font-default;
    font-size: $text-size-default;
}

[type='radio'], [type='checkbox'] {
    appearance: none;
}