/* HAMBURGER ENSI */
.ensi-hamburger {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.ensi-hamburger-icon {
  width: 58px;
  height: 38px;
  padding: 0 2px 0 4px;
  border: 2px solid;
  border-color: #3c3b3a;
  opacity: 0.3;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ensi-hamburger:hover .ensi-hamburger-line,
.ensi-hamburger:hover .ensi-hamburger-icon {
  opacity: 1;
}

.ensi-hamburger:hover .ensi-hamburger-text {
  color: #3c3b3a;
}

.ensi-hamburger-line {
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: #3c3b3a;
  opacity: 0.3;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ensi-hamburger-line:nth-child(1) {
  top: 6px;
}

.ensi-hamburger-line:nth-child(2) {
  top: 15px;
}

.ensi-hamburger-line:nth-child(3) {
  top: 24px;
}

.ensi-hamburger-line:nth-child(1).animate-ensi-line1 {
  top: 16px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.ensi-hamburger-line:nth-child(2).animate-ensi-line2 {
  top: 16px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.ensi-hamburger-line:nth-child(3).animate-ensi-line3 {
  top: 16px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.ensi-hamburger-text {
  font-size: 1.5rem;
  color: #dbdbd2;
  margin-left: 20px;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.animate-text {
  color: #3c3b3a;
}

.animate-box {
  opacity: 1;
}