$color-bg: #fff;

$text-default: 16px;
$text-btn: 1.2rem;

$btn-bg-color: orange;
// $gradient-end: linear-gradient(135deg,  #7db9ea 0%,#22ad27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

$center: 0 auto;